In [2]:
%load_ext sql

In [3]:
%sql mysql://root:admin@localhost:3306/noaddr

In [6]:
%%sql
SELECT patient.patient_id, names.given_name, names.family_name, person.uuid
FROM patient INNER JOIN person_name AS names INNER JOIN person
ON patient.patient_id = names.person_id = person.person_id
ORDER BY patient.patient_id ASC;

 * mysql://root:***@localhost:3306/noaddr
53 rows affected.

[(7, 'Betty', 'Williams', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (8, 'Susan', 'Lopez', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (9, 'Barbara', 'Miller', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (10, 'Grace', 'Garcia', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (11, 'Mark', 'Smith', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (12, 'James', 'Martinez', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (13, 'Michael', 'Turner', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (14, 'Kevin', 'Brown', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (15, 'Joshua', 'Johnson', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (16, 'Emily', 'Hill', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (17, 'George', 'Anderson', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (18, 'Brian', 'Lopez', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (19, 'Donald', 'Harris', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (20, 'Kimberly', 'Thompson', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (21, 'Mary', 'Smith', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (22, 'Richard', 'Jones', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (23, 'David', 'Williams', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (24, 'Patricia', 'Lewis', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (25, 'Karen', 'Sanchez', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (26, 'Christopher', 'Evans', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (27, 'Agnes', 'Adams', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (28, 'Susan', 'Young', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (29, 'Edward', 'Robinson', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (30, 'Melissa', 'Wright', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (31, 'Sarah', 'Taylor', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (32, 'Kenneth', 'Hernandez', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (33, 'Steven', 'White', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (34, 'Karen', 'Thompson', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (35, 'Steven', 'Thompson', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (36, 'Carol', 'Brown', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (37, 'Michelle', 'Lewis', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (38, 'Margaret', 'King', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (39, 'Donald', 'Thompson', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (40, 'George', 'Phillips', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (41, 'Daniel', 'Scott', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (42, 'James', 'Thompson', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (43, 'Joseph', 'Davis', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (44, 'Edward', 'Odinga', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (45, 'Richard', 'Brown', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (46, 'Mark', 'Williams', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (47, 'Helen', 'Roberts', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (48, 'Kenneth', 'Carter', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (49, 'Susan', 'Hall', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (50, 'Donna', 'Roberts', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (51, 'Sandra', 'Walker', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (52, 'Susan', 'Harris', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (53, 'William', 'Robinson', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (54, 'Dorothy', 'Odinga', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (55, 'Patricia', 'Garcia', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (56, 'Richard', 'Nelson', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (57, 'Joe', 'Rando', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (58, 'Josephine', 'Rando', '5f87c042-6814-11e8-923f-e9a88dcb533f'),
 (59, 'Jack', 'Rando', '5f87c042-6814-11e8-923f-e9a88dcb533f')]

In [5]:
%%sql
SELECT person_attribute_type_id, name, searchable FROM person_attribute_type;

 * mysql://root:***@localhost:3306/noaddr
10 rows affected.

[(1, 'Race', 0),
 (2, 'Birthplace', 0),
 (3, 'Citizenship', 0),
 (4, "Mother's Name", 0),
 (5, 'Civil Status', 0),
 (6, 'Health District', 0),
 (7, 'Health Center', 0),
 (8, 'email', 1),
 (9, 'Telephone Number', 0),
 (10, 'Unknown patient', 0)]

In [7]:
%%sql
SELECT person.person_id, names.given_name, names.family_name, person.uuid
FROM person INNER JOIN person_name AS names
ON person.person_id = names.person_id
WHERE person.uuid = '5f897a68-6814-11e8-923f-e9a88dcb533f';

 * mysql://root:***@localhost:3306/noaddr
0 rows affected.

[]

In [8]:
%%sql
SELECT person.person_id, names.given_name, names.family_name, person.uuid
FROM person INNER JOIN person_name AS names
ON person.person_id = names.person_id
WHERE names.given_name = 'Super';

 * mysql://root:***@localhost:3306/noaddr
1 rows affected.

[(1, 'Super', 'User', '5f87c042-6814-11e8-923f-e9a88dcb533f')]