# Database Interrogation

## Import and setup

In [ ]:
from dotenv import load_dotenv
import os
import sql.connection

load_dotenv()

db_uri = os.getenv('DB_URI')
sql.connection.Connection.set(db_uri, True)

%load_ext sql

Loaded DB URI: mysql://root:admin@localhost:3306/noaddr

## Resources

In [2]:
%sql SELECT person_attribute_type_id, name, searchable FROM person_attribute_type;

 * mysql://root:***@localhost:3306/noaddr
10 rows affected.

[(1, 'Race', 0),
 (2, 'Birthplace', 0),
 (3, 'Citizenship', 0),
 (4, "Mother's Name", 0),
 (5, 'Civil Status', 0),
 (6, 'Health District', 0),
 (7, 'Health Center', 0),
 (8, 'email', 1),
 (9, 'Telephone Number', 0),
 (10, 'Unknown patient', 0)]

In [3]:
%sql SELECT name, uuid FROM patient_identifier_type;

 * mysql://root:***@localhost:3306/noaddr
7 rows affected.

[('OpenMRS Identification Number', '8d793bee-c2cc-11de-8d13-0010c6dffd0f'),
 ('Old Identification Number', '8d79403a-c2cc-11de-8d13-0010c6dffd0f'),
 ('OpenMRS ID', '05a29f94-c0ed-11e2-94be-8c13b969e334'),
 ('Legacy ID', '22348099-3873-459e-a32e-d93b17eda533'),
 ('ID Card', 'b4143563-16cd-4439-b288-f83d61670fc8'),
 ('SSN', 'a71403f3-8584-4289-ab41-2b4e5570bd45'),
 ('NADRA NIC Number', '31f70925-2606-468b-84fb-2d756f4fc083')]

In [4]:
%sql SELECT name, uuid FROM location;

 * mysql://root:***@localhost:3306/noaddr
59 rows affected.

[('Unknown Location', '8d6c993e-c2cc-11de-8d13-0010c6dffd0f'),
 ('Ubuntu Hospital', 'f47ac10b-58cc-4372-a567-0e02b2c3d479'),
 ('Outpatient Clinic', '44c3efb0-2583-4c80-a79e-1f756a03c0a1'),
 ('Inpatient Ward', 'ba685651-ed3b-4e63-9b35-78893060758a'),
 ('Mobile Clinic', '8d9045ad-50f0-45b8-93c8-3ed4bce19dbf'),
 ('Community Outreach', '1ce1b7d4-c865-4178-82b0-5932e51503d6'),
 ('Ward 1', '184ac7d9-225a-41f8-bac7-c87b1327e1b0'),
 ('Ward 2', '5a7f3c53-6bb4-448b-a966-5e65b397b9f3'),
 ('Ward 3', '2272b8cd-b690-4878-a50c-40d22235b3f3'),
 ('Site 1', 'dbdaabf6-a326-4804-aba7-062073e05cd1'),
 ('Site 2', '4a06a96f-dd21-4695-8d76-b9c405cebafc'),
 ('Site 3', 'd493f3eb-ba7c-4e6c-988d-62491e496045'),
 ('Site 4', 'dd2ad4cd-e33a-40cc-955a-e91e313f9a3b'),
 ('Site 5', '94346397-3848-4b92-9219-a981ed4265f8'),
 ('Site 6', '0566e68d-26ff-4e1d-a199-a9b8ecc3a7d4'),
 ('Site 7', '9ade8976-a178-4bce-a229-50cfcf61b87d'),
 ('Site 8', '50cfb6ca-a360-41f2-b3a0-7c5a19f4aa98'),
 ('Site 9', 'd5be46a5-3afa-40fa-86ab-3c1ff31543e3'),
 ('Site 10', '5f47d469-7c8d-4f34-887c-16db797bec3d'),
 ('Site 11', 'd81f9408-1582-4270-848f-6af319424733'),
 ('Site 12', 'ffd78808-5b88-4a56-9c94-54754725ad90'),
 ('Site 13', 'a61a5145-8da1-4410-be23-479314814cc7'),
 ('Site 14', '5e6abb9d-7ab3-4203-8b02-1462bcca0c51'),
 ('Site 15', '6536f254-a296-4d0f-84f7-9c0f0b12536e'),
 ('Site 16', '0cb740b2-153f-49e2-b599-aabb90330bd2'),
 ('Site 17', '2cead8f3-0e6c-468b-9f10-6a7ca75604dd'),
 ('Site 18', 'facac3e6-8c4a-4528-a497-8cf22ffd1a50'),
 ('Site 19', '29fc4038-18d4-4b11-bc2b-63983932e6ac'),
 ('Site 20', 'c84338a5-69a7-411a-aa0f-f405cb44697b'),
 ('Site 21', '09d08c88-5b12-4831-8268-62242822180d'),
 ('Site 22', 'ac529390-16d6-4454-83be-4fcbbc5988aa'),
 ('Site 23', 'b03c3107-fc5b-4b49-a31d-02bf327d6dd4'),
 ('Site 24', '302090a6-11ac-455d-80c9-08c06ebd1087'),
 ('Site 25', 'bb5787d4-307e-40ec-89b3-f9f539a5d88f'),
 ('Site 26', '13ecc2c0-7170-4d51-a93d-7189fd885c05'),
 ('Site 27', '6dfacc57-17e6-481e-bde6-36742bf2bb66'),
 ('Site 28', '2425adbe-b446-4d70-a684-5d757370a230'),
 ('Site 29', 'd114a8ac-aa7e-4350-a8bf-de2caf0ea440'),
 ('Site 30', 'ca22282f-0d68-4c1c-a985-90b69cf943a3'),
 ('Site 31', '8d976ed0-49fe-4ed9-909d-f7b9d4081712'),
 ('Site 32', '370c2cff-4681-40fa-bd29-b557399a6486'),
 ('Site 33', '3ad56ffe-05bc-4ccf-aa87-f517f65e10fd'),
 ('Site 34', 'd38b9028-8035-4595-84ca-c8e7c9e2ecd4'),
 ('Site 35', '07032097-5031-4c93-a29a-52a14d124a0a'),
 ('Site 36', 'aaf478f9-b3e2-4038-977b-56896a8060e2'),
 ('Site 37', '9a93ba80-8a44-4f99-980c-b1e13dbca33a'),
 ('Site 38', '5c0ff819-e936-4e75-9c1d-4d001a6fd95e'),
 ('Site 39', '743a7d4a-3404-49db-a0ec-beddbdec0919'),
 ('Site 40', '1b1317ae-3688-416d-a8f0-1378b92b9e04'),
 ('Site 41', 'c2861e47-ecc1-4e81-992d-7b3c29fce0b0'),
 ('Site 42', '92dbdbdf-17da-4cf0-873c-ad15dfae71cb'),
 ('Site 43', 'fd7fae67-7a2e-456c-81db-3cbdb10fd510'),
 ('Site 44', '2ccae22b-26ab-4c40-a813-55462e27a0c8'),
 ('Site 45', '2ef7caf2-affa-4003-8fe7-128db6ce31ee'),
 ('Site 46', '148dc112-9e26-42f9-b514-e28cf2e44b1f'),
 ('Site 47', '6d49188b-2bdf-4c6e-bdff-7eeed3e15a64'),
 ('Site 48', '0fa578fc-301a-418c-9cf9-b35707fcb478'),
 ('Site 49', 'eeba7391-361a-41ad-a884-02d5504abaac'),
 ('Site 50', '2592d89f-8655-464e-bb76-5536d394c276')]

## Users

In [5]:
%%sql
SELECT persons.person_id, users.user_id, users.email, users.username, users.system_id, names.given_name, names.family_name, users.uuid
FROM ((users
INNER JOIN person AS persons ON users.person_id = persons.person_id)
INNER JOIN person_name AS names ON users.person_id = names.person_id)
;

 * mysql://root:***@localhost:3306/noaddr
6 rows affected.

[(1, 1, None, None, 'admin', 'Super', 'User', '82f18b44-6814-11e8-923f-e9a88dcb533f'),
 (1, 2, None, 'daemon', 'daemon', 'Super', 'User', 'A4F30A1B-5EB9-11DF-A648-37A07F9C90FB'),
 (3, 3, None, 'clerk', '3-4', 'John', 'Clerk', '4882dd60-0508-11e3-8ffd-0800200c9a66'),
 (4, 4, None, 'technician', '4-2', 'June', 'Technician', '860ed282-1db6-4bd1-aa1b-05348c99293d'),
 (5, 5, None, 'nurse', '5-9', 'Jane', 'Nurse', '564b2790-0508-11e3-8ffd-0800200c9a66'),
 (6, 6, None, 'doctor', '6-7', 'Jake', 'Doctor', '67bfd7f0-0508-11e3-8ffd-0800200c9a66')]

## Patients

In [6]:
%%sql
# SELECT *
SELECT patients.patient_id, names.given_name, names.family_name, people.uuid, patients.creator
FROM ((patient AS patients
INNER JOIN person_name AS names ON patients.patient_id = names.person_id)
INNER JOIN person AS people ON patients.patient_id = people.person_id)
ORDER BY patient_id ASC
;

 * mysql://root:***@localhost:3306/noaddr
56 rows affected.

[(7, 'Betty', 'Williams', '5f4a314a-e047-466c-b26e-fbd43d1619db', 2),
 (8, 'Susan', 'Lopez', 'f338d0df-88a3-4c89-9384-32e0b06d5431', 2),
 (9, 'Barbara', 'Miller', '5e1e7781-a842-4e23-adfd-2c533611f974', 2),
 (10, 'Grace', 'Garcia', '81b06918-6c63-4b1a-8507-4736195eff31', 2),
 (11, 'Mark', 'Smith', 'f4f9d5a0-4a6f-4595-baf7-ebbc71e3253d', 2),
 (12, 'James', 'Martinez', '577d75e0-4cc1-4bcf-b35a-0f92917313c7', 2),
 (13, 'Michael', 'Turner', '8d4b721c-2b27-48e8-a273-20662840c7b7', 2),
 (14, 'Kevin', 'Brown', 'a1729635-a38d-4b4c-9722-e1e838a57f61', 2),
 (15, 'Joshua', 'Johnson', '41e30184-f7e4-4988-a299-4d842481860e', 2),
 (16, 'Emily', 'Hill', 'b63aee13-9709-4c02-83bf-6dd804e51059', 2),
 (17, 'George', 'Anderson', 'e903c2c4-dabf-4fb3-944c-19135fccdacf', 2),
 (18, 'Brian', 'Lopez', '5392a365-58da-4933-84ae-b58b8384e11b', 2),
 (19, 'Donald', 'Harris', '75d9ec1c-708a-4f59-8c58-ca1d9fae81ea', 2),
 (20, 'Kimberly', 'Thompson', 'affeba3e-223f-4fcd-9721-8281f967755c', 2),
 (21, 'Mary', 'Smith', '11541e9d-74fe-40f8-95c6-641dbe7365b6', 2),
 (22, 'Richard', 'Jones', '7df5a82f-3910-4863-91c6-572e3e5ab7f6', 2),
 (23, 'David', 'Williams', 'f43525a9-0616-4079-aa02-af4bf9a5acf4', 2),
 (24, 'Patricia', 'Lewis', '7b0f9e39-97ea-4b16-8902-97f2db115630', 2),
 (25, 'Karen', 'Sanchez', 'a0f8139d-7141-42e0-a964-2dc897fe8997', 2),
 (26, 'Christopher', 'Evans', '1895f68c-d841-4a0c-be2d-420df97943f6', 2),
 (27, 'Agnes', 'Adams', 'dee07b3e-5f6d-487a-8946-66f223dd6ad7', 2),
 (28, 'Susan', 'Young', '42a200f3-f714-4c86-a7de-d20c654c5b79', 2),
 (29, 'Edward', 'Robinson', '897f8a18-b2b7-49f7-8adf-b718e70b7716', 2),
 (30, 'Melissa', 'Wright', '61606600-d4a7-4dae-a752-d07298d5375b', 2),
 (31, 'Sarah', 'Taylor', '533675dd-40ec-4369-a612-16ff5d541bd9', 2),
 (32, 'Kenneth', 'Hernandez', 'a28c176e-514a-4df1-bba7-a145c9381e8b', 2),
 (33, 'Steven', 'White', 'c9697b40-e7f7-49be-ad60-7090defab015', 2),
 (34, 'Karen', 'Thompson', '8b1df23c-3c65-437d-a96c-042fb00da93c', 2),
 (35, 'Steven', 'Thompson', 'fcfb823f-0f97-49ed-87a6-d1b184af7522', 2),
 (36, 'Carol', 'Brown', 'c6693a18-d714-4d89-ad2e-44d2b9c30e6b', 2),
 (37, 'Michelle', 'Lewis', '0366dbfe-7737-47c3-8adf-39e17ea31f30', 2),
 (38, 'Margaret', 'King', '6afa668b-cfaf-458a-b82d-0d49f3f7eb51', 2),
 (39, 'Donald', 'Thompson', '399ad2f5-a628-4809-b070-887b2e57bbe6', 2),
 (40, 'George', 'Phillips', 'f9a80325-e05f-49c6-9cfd-18449c7ee21b', 2),
 (41, 'Daniel', 'Scott', 'b652be70-5b46-4d6d-901b-6315f3dae3c4', 2),
 (42, 'James', 'Thompson', '049139da-6c9d-4903-8a10-f0041e5c03c6', 2),
 (43, 'Joseph', 'Davis', 'd8764f20-f4f6-49de-bddd-3119c31cafa3', 2),
 (44, 'Edward', 'Odinga', 'fe02fef7-4797-416b-b65d-4027ae2ff15d', 2),
 (45, 'Richard', 'Brown', '085b14bf-3c7b-4d19-b1ee-439c2ce614bd', 2),
 (46, 'Mark', 'Williams', 'e79e0e1e-b135-465c-b471-fa0d348d3c44', 2),
 (47, 'Helen', 'Roberts', '42853a5f-131b-4b22-bc68-dad5b9fb047e', 2),
 (48, 'Kenneth', 'Carter', 'c7d4e42b-7469-44c2-ad80-1f96c529ec71', 2),
 (49, 'Susan', 'Hall', '91702995-f611-4956-8079-37fa190c6a63', 2),
 (50, 'Donna', 'Roberts', '1be16dc6-c28f-478a-9b2b-f6d62a178ad1', 2),
 (51, 'Sandra', 'Walker', '27679f4a-a1f2-463a-8968-a36ad33997b2', 2),
 (52, 'Susan', 'Harris', 'bac57f01-ac15-4ce6-b5c2-4164f4b114de', 2),
 (53, 'William', 'Robinson', 'b13e77e1-020a-49ee-8a65-da88df070664', 2),
 (54, 'Dorothy', 'Odinga', 'b6479fdf-b6e4-4bc2-b937-b4cc6a8dfecf', 2),
 (55, 'Patricia', 'Garcia', '8d39b92d-3594-4238-a251-bab95f4d22a1', 2),
 (56, 'Richard', 'Nelson', '9f4db568-fea9-4956-a44b-e8d8b115b83a', 2),
 (57, 'Joe', 'Rando', '8b498866-0216-4d33-bdac-25ae2777d7b0', 1),
 (58, 'Josephine', 'Rando', '6fc60b12-8343-475c-95ad-2df1e6d63d8e', 1),
 (59, 'Jack', 'Rando', 'bd7b890d-e569-4e2a-b047-9851b1635d28', 1),
 (60, 'Mohit', 'Kumar', '3c120395-3282-4490-bf9a-13cc5a1744ff', 1),
 (62, 'Tapal', 'Danedar', 'd5dd2f20-3c60-4655-a3e9-e212da0f94e3', 1),
 (63, 'Python', 'Script', '8cd1a0a8-3782-442c-ae34-14a84e2efc22', 1)]

In [7]:
%%sql
SELECT person.person_id, names.given_name, names.family_name, person.uuid
FROM person INNER JOIN person_name AS names
ON person.person_id = names.person_id
WHERE person.uuid = '3c120395-3282-4490-bf9a-13cc5a1744ff'
;

 * mysql://root:***@localhost:3306/noaddr
1 rows affected.

[(60, 'Mohit', 'Kumar', '3c120395-3282-4490-bf9a-13cc5a1744ff')]

## Concepts

In [8]:
%sql SELECT concept_id, short_name, description, form_text, uuid FROM concept LIMIT 5;

 * mysql://root:***@localhost:3306/noaddr
5 rows affected.

[(1, '', '', None, 'cf82933b-3f3f-45e7-a5ab-5d31aaee3da3'),
 (2, '', '', None, '488b58ff-64f5-4f8a-8979-fa79940b1594'),
 (3, None, None, None, '42ed45fd-f3f6-44b6-bfc2-8bde1bb41e00'),
 (4, None, None, None, '7cac8397-53cd-4f00-a6fe-028e8d743f8e'),
 (5, None, None, None, '84893AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA')]

In [9]:
%sql SELECT concept_class_id, name, description, uuid FROM concept_class;

 * mysql://root:***@localhost:3306/noaddr
27 rows affected.

[(1, 'Test', 'Acq. during patient encounter (vitals, labs, etc.)', '8d4907b2-c2cc-11de-8d13-0010c6dffd0f'),
 (2, 'Procedure', 'Describes a clinical procedure', '8d490bf4-c2cc-11de-8d13-0010c6dffd0f'),
 (3, 'Drug', 'Drug', '8d490dfc-c2cc-11de-8d13-0010c6dffd0f'),
 (4, 'Diagnosis', 'Conclusion drawn through findings', '8d4918b0-c2cc-11de-8d13-0010c6dffd0f'),
 (5, 'Finding', 'Practitioner observation/finding', '8d491a9a-c2cc-11de-8d13-0010c6dffd0f'),
 (6, 'Anatomy', 'Anatomic sites / descriptors', '8d491c7a-c2cc-11de-8d13-0010c6dffd0f'),
 (7, 'Question', 'Question (eg, patient history, SF36 items)', '8d491e50-c2cc-11de-8d13-0010c6dffd0f'),
 (8, 'LabSet', 'Term to describe laboratory sets', '8d492026-c2cc-11de-8d13-0010c6dffd0f'),
 (9, 'MedSet', 'Term to describe medication sets', '8d4923b4-c2cc-11de-8d13-0010c6dffd0f'),
 (10, 'ConvSet', 'Term to describe convenience sets', '8d492594-c2cc-11de-8d13-0010c6dffd0f'),
 (11, 'Misc', "Terms which don't fit other categories", '8d492774-c2cc-11de-8d13-0010c6dffd0f'),
 (12, 'Symptom', 'Patient-reported observation', '8d492954-c2cc-11de-8d13-0010c6dffd0f'),
 (13, 'Symptom/Finding', 'Observation that can be reported from patient or found on exam', '8d492b2a-c2cc-11de-8d13-0010c6dffd0f'),
 (14, 'Specimen', 'Body or fluid specimen', '8d492d0a-c2cc-11de-8d13-0010c6dffd0f'),
 (15, 'Misc Order', "Orderable items which aren't tests or drugs", '8d492ee0-c2cc-11de-8d13-0010c6dffd0f'),
 (16, 'Frequency', 'A class for order frequencies', '8e071bfe-520c-44c0-a89b-538e9129b42a'),
 (17, 'Pharmacologic Drug Class', 'Class of medications based on pharmacologic properties as opposed to therapeutic properties', 'b4535251-9183-4175-959e-9ee67dc71e78'),
 (18, 'Units of Measure', 'For prescribing and dispensing', 'e30d8601-07f8-413a-9d11-cdfbb28196ec'),
 (19, 'Workflow', 'Workflow class', '1edca11a-768a-102f-83f4-12313b04a615'),
 (20, 'State', 'Workflow state', '1edca23c-768a-102f-83f4-12313b04a615'),
 (21, 'Program', 'Program concept', '1edca368-768a-102f-83f4-12313b04a615'),
 (22, 'Indicator', 'An indicator calculated from certain measures', '896d8b8c-603b-421f-959e-8d305cbeeb82'),
 (23, 'Organism', 'Class of living organisms', '89a98300-062e-4003-8f6f-764ea23ab648'),
 (24, 'Radiology/Imaging Procedure', 'A radiology or imaging test or procedure', '8caa332c-efe4-4025-8b18-3398328e1323'),
 (25, 'Drug form', 'Medication form for prescribing', 'de359f23-2bfc-4e8d-96d8-25b7526d6070'),
 (26, 'InteractSet', 'Set of drugs that interact with parent drug', 'e2c52f55-c7b4-49f7-9f82-1ffa2fe6023f'),
 (27, 'Medical supply', 'Durable medical equipment and other supplies', '0dcf23d4-3008-4d8e-b12c-4ec95d1cfd97')]

## Ordering

## End