In [1]:
%load_ext sql

In [2]:
%sql mysql://openmrs:openmrs@localhost:3306/openmrs

In [6]:
%%sql
SELECT person_id, family_name_prefix, family_name, family_name2, family_name_suffix, given_name, middle_name FROM person_name WHERE given_name = 'Joe';

 * mysql://openmrs:***@localhost:3306/openmrs
1 rows affected.

[(3, None, 'Rando', None, None, 'Joe', None)]

In [12]:
%%sql
SELECT address1, address2, city_village, state_province, country, preferred FROM person_address WHERE person_id = 3;

 * mysql://openmrs:***@localhost:3306/openmrs
1 rows affected.

[('Their Home, Same Street', None, None, None, None, 1)]

In [15]:
%%sql
SELECT identifier, identifier_type, preferred FROM patient_identifier WHERE patient_id = 3;

 * mysql://openmrs:***@localhost:3306/openmrs
1 rows affected.

[('3434', 2, 1)]

In [17]:
%%sql
SELECT name, description FROM patient_identifier_type WHERE patient_identifier_type_id = 2;

 * mysql://openmrs:***@localhost:3306/openmrs
1 rows affected.

[('Old Identification Number', 'Number given out prior to the OpenMRS system (No check digit)')]